{{> header}}
<h1>Cities</h1>
<table class="table">
{{#cities}}
    <tr>
        <td>{{name}}</td>
        <td><a href="cities/{{slug}}/edit" class="btn">Edit</a></td>
        <td><a href="cities/{{slug}}/delete" class="btn btn-danger">Delete</a></td>
    </tr>
{{/cities}}
{{^cities}}
    <tr>
        <td class="no-data">No cities</td>
    </tr>
{{/cities}}
</table>
<a href="/cs4001/admin/cities/new" class="btn btn-success">New city</a>
{{> footer}}
