{{> header}}
<h1>Edit {{building.slug}}</h1>
<form action="/cs4001/admin/buildings/{{building.city}}/{{building.slug}}" method="POST" class="form-horizontal">
    <div class="control-group">
        <label class="control-label" for="name">Name</label>
        <div class="controls">
            <input type="text" id="name" name="name" value="{{building.name}}" />
        </div>
    </div>
    {{! TODO - image }}
    <div class="control-group">
        <label class="control-label" for="area">Area</label>
        <div class="controls">
            <input type="text" id="area" name="area" value="{{building.area}}" />
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="toilets">Toilets</label>
        <div class="controls">
            <input type="text" id="toilets" name="toilets" value="{{building.toilets}}" />
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="sinks">Sinks</label>
        <div class="controls">
            <input type="text" id="sinks" name="sinks" value="{{building.sinks}}" />
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="hours">Hours available</label>
        <div class="controls">
            <input type="text" id="hours" name="hours" value="{{building.hours}}" />
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <button type="submit" class="btn btn-success">Save</button>
        </div>
    </div>
</form>
{{> footer}}
