            <hr>
            
            <footer>
                <p>&copy; 2013 Michael Limiero, Evan Cahill, Shyamak Aggarwal, Brian Daviadoff.
                Licensed under the <a href="http://www.gnu.org/licenses/agpl.html">GNU Affero
                  General Public License v3</a>.</p>
            </footer>

        </div> <!-- /container -->

        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="/cs4001/js/vendor/jquery-1.9.1.min.js"><\/script>')</script>
        <script src="/cs4001/js/vendor/jquery-ui-1.10.3.custom.min.js"></script>

        <script src="/cs4001/js/vendor/bootstrap.min.js"></script>
        <script src="/cs4001/js/vendor/underscore-min.js"></script>
        <script src="/cs4001/js/vendor/mustache.js"></script>

        <script src="/cs4001/js/admin.js"></script>
    </body>
</html>
